In [4]:
import pandas as pd

In [5]:
series_1 = pd.Series([10,20,30])
series_1

0    10
1    20
2    30
dtype: int64

In [6]:
series_2 = pd.Series(['Ram','Shyam','Madhu'],index = [1,2,3])
series_2

1      Ram
2    Shyam
3    Madhu
dtype: object

In [7]:
s3 = pd.Series(['Ram','Shyam','Madhu'],index = ['april','may','june'])
s3

april      Ram
may      Shyam
june     Madhu
dtype: object

In [18]:

s4 = pd.Series({ 'Uk': 'London', "USA": "Washington", "India": "New Delhi", "France": "Paris" },name="Capitals")
print(s4)
print(s4.values)
print(s4.empty)
s4['pakistan'] = "maqsad"
print(s4)

Uk            London
USA       Washington
India      New Delhi
France         Paris
Name: Capitals, dtype: object
['London' 'Washington' 'New Delhi' 'Paris']
False
Uk              London
USA         Washington
India        New Delhi
France           Paris
pakistan        maqsad
Name: Capitals, dtype: object

In [9]:
s5 = pd.Series([2,3,4], index = ['feb', 'mar', 'apr'])
print('Original Series\n',s5)
print('Value at s5.mar:', s5.mar)
print(s3[0:2])

Original Series
 feb    2
mar    3
apr    4
dtype: int64
Value at s5.mar: 3
april      Ram
may      Shyam
dtype: object

In [10]:
s6 = pd.Series(['Uk','America','India','France'],index=['London',"Washington","New Delhi","Paris"])
print(s6[0:2])
print()
print(s6['London':'New Delhi'])

London             Uk
Washington    America
dtype: object

London             Uk
Washington    America
New Delhi       India
dtype: object

In [ ]:
import numpy as np

new_s1 = pd.Series(np.arange(10,20,2))
print(new_s1)
print()
new_s2 = pd.Series(np.arange(10,20,2), index = ['a','b','c','d','e'])
print(new_s2)
print()
new_s3 = pd.Series(np.arange(10,20,2), index = np.arange(20,30,2))
print(new_s3)
print()
new_s2['a':'e'] = 350
print(new_s2)
print(new_s1.head())
print(new_s1.head(10))
print(new_s1.tail())
print(new_s1.tail(10))

0    10
1    12
2    14
3    16
4    18
dtype: int64

a    10
b    12
c    14
d    16
e    18
dtype: int64

20    10
22    12
24    14
26    16
28    18
dtype: int64

a    350
b    350
c    350
d    350
e    350
dtype: int64

In [19]:
a = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
b = pd.Series([10,20,-10,-50,-100], index = ['z','y','a','c','e'])
print(a+b)

a    -9.0
b     NaN
c   -47.0
d     NaN
e   -95.0
y     NaN
z     NaN
dtype: float64